@import "media-queries";
@import "reset";
@import "form";


html{
    width:100%;
    @extend %white-grey-gradient;
}
body{
    width: 100%;
}


%main-section{
    padding: 1% 5% 1% 5%;
    h1{
        font-size: 48px;
        text-align: center;

    }
    h1, h2, h3, h4, p, div, li{
        color:rgb(88,89, 91); //grey
    }
    p, li{
        font-size:36px;
    }

    //center
    margin-left: auto;
    margin-right: auto;
    max-width:1500px;
    margin-bottom:14px;
}

header{
    color: rgb(241,242,242); //white

    display: block;
    width: 100%;

    max-width:1500px;

    //center
    margin-left: auto;
    margin-right: auto;

    background: #000000 url('../img/donate-banner.png') no-repeat bottom left;
    //background: #000000 url('../img/donate-banner.png') no-repeat bottom left;
    background-size: 100% 100%;
}

.header-content{
    //@extend %main-section;
    padding: 1% 5% 1% 5%;
    color:inherit;
    h1, h2, h3, p, li, div{
        color:inherit;
    }
    //position: absolute;
    //top:0;
    width: 100%;
    //height:100%;
    @extend %yellow-blue-gradient;

    p{
        font-size: 60px;
    }
}

.top-nav{
    img{
        display:inline-block;
        width: 10%;
        vertical-align: middle;
    }
    h1{
        display:inline-block;
        width:40%;
        font-size:70px;
        vertical-align: middle;
    }

    div{
        display:inline-block;
        width:49%;
        vertical-align: middle;
        padding-bottom: 1%;

        ul{
            display:inline-block;
            width:100%;
            padding-left:1%;
            li{
                display:inline-block;
                //width:25%;
                padding-right: 20px;

                a{
                    text-decoration: none;
                    color: rgb(241,242,242); //white
                    font-size:150%;
                }
            }
        }
    }

}

#rules-section{
    @extend %main-section;
    img{
        //float:left;
        //margin-right:10px;
        width:20%;
    }
    ul{
        width:79%;
        display:inline-block;
        vertical-align: top;
    }
}

#strategy-section{
    @extend %main-section;
}

#members-section{
    @extend %main-section;
    div{
        //color:greenyellow;
    }
}

#postMessageForm{
    width: 50%;
    textarea{
        width: 80%;
        vertical-align: middle;
    }
}

#messages-section{
    @extend %main-section;

    > div{
        display:table;
        width:100%;
        ul { //row
            width:100%;
            display: table-row;

            li {
                display:table-cell;
                font-size: 20px;
                //date
                &:nth-child(3){
                    width:10%;
                    font-size: 10px;
                }

                //user
                &:nth-child(1){
                    width:10%;

                }

                //message
                &:nth-child(2){
                    width: 80%;
                }
            }
        }

        ul:first-child{
            font-size: 20px;
            li{
                font-size:20px;
            }
        }

    }


}

#account-section{
    @extend %main-section;

    //create account
    div{
        h2{
            text-align: center;
        }
        display:inline-block;
        width:49%;
        vertical-align: top;
    }

}
//################################# media queries ################################################################
//small media query
@include mq(medium-and-below){
    .top-nav{
        img{
            width:9%;

        }
        h1{
            width:89%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            //font-size:300%;
        }
        div{
            width:100%;
            //padding-left:20%;
            //padding-right:20%;

            ul{
                text-align: center;
                li{
                    a{
                        font-size:250%;
                    }
                }
            }
        }

    }
}


//#################################### Gradients #######################################################################
%yellow-blue-gradient{
    background: -moz-linear-gradient(top,  rgba(167,176,27,0.76) 0%, rgba(0,116,159,0.76) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,176,27,0.76)), color-stop(100%,rgba(0,116,159,0.76))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(167,176,27,0.76) 0%,rgba(0,116,159,0.76) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(167,176,27,0.76) 0%,rgba(0,116,159,0.76) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(167,176,27,0.76) 0%,rgba(0,116,159,0.76) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(167,176,27,0.76) 0%,rgba(0,116,159,0.76) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2a7b01b', endColorstr='#c200749f',GradientType=0 ); /* IE6-9 */
}

%white-grey-gradient{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 32%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(32%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 32%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 32%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 32%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 32%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

//#################################### Fonts ###########################################################################

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.eot');
    src: url('../fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/caviardreams-webfont.woff2') format('woff2'),
    url('../fonts/caviardreams-webfont.woff') format('woff'),
    url('../fonts/caviardreams-webfont.ttf') format('truetype'),
    url('../fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
